#trending-header {
    margin-left: 18%;
    margin-top: 2%;
    margin-bottom: 1%;
    display: flex;
    align-items: center;

    #trending-headline {
        margin-left: 1%;
    }
}

.trending-stories-list {
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15%;
    width: 80%;
}

.story-index-item {
    display: flex;
    width: 600px;
    // flex-wrap: wrap;
    padding: 20px 60px;
    .trending-num {
        margin-right: 2%;
        color: #D3D3D3;
        font-size: 30px;
    }

    .trending-title {
        margin-bottom: 3%;
        font-weight: 600;
    }

    .trending-date {
        color: gray;
    }
}

.trending-profile {
    display: flex;
    // justify-content: flex-start;
    // align-items:inherit;
    // width: 400px;
    .fa-user-circle {
        margin-right: 3%;
        font-size: 25px;
        color: #F5EFEE;
    }

    .trending-name {
        margin-bottom: 3%;
    }
}