#error-container {
    margin-left: 2%;
    margin-top: 1.5%;
    .error-message {
        font-family: 'Playfair Display', serif;
        font-size: 100px;
        margin-bottom: 2%;
    }

    .back-home-message {
        font-family: Arial, Helvetica, sans-serif;
        color: green;

        &:visited {
            color: green;
        }
    }
}